/.gradle
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/modules/
/.idea/artifacts/
/.idea/
/build
/modules
/bundles
/deps
*.iml
*.hprof
*.log
korge.keystore
local.properties
src/main/*
.DS_Store

/src/commonMain/resources/assets/craft/product.json
